<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<div class="am-vertical-align" style="text-align: center" th:fragment="footer">
    <hr>
    <div class="am-vertical-align-bottom">
        <div style="color: #ff0c1c;font-size: 15px;">
            © 2020-2020 Power By wzz - <i class="am-icon-coffee" style="margin: 0 5px"></i>wzz 版权所有
        </div>
        <div class="webLogo" style="font-size: 15px;">
            <a href="http://hb.beian.miit.gov.cn/" target="_blank">
                鄂ICP备20002199号
            </a>
        </div>
        <div class="webLogo" style="font-size: 15px;">
            <a href="" target="_blank">
                备20002199号
            </a>
        </div>
    </div>
</div>
</html>